body{
    margin:0 auto;
    padding:0; 
    font-family: 'Noto Sans SC', sans-serif;
    height: 100vh;
    background-color: #E1E2E1;

 }
.navbar{
  overflow: hidden;
  height: 54px;
  background-color: #0079c1;

}
h1{
  color: #fff;
  margin: 8px;
  padding: 0;
  float: left;
}

.icons{
	float: right;
	position: relative;
	height: 100%;
    margin-right: 5%;
    padding-top: 13px;
    color: #fff;

}
.icon{
    font-size: 22px;
    margin: 0px 0.5em;
}
.products{
	width:100%;
	padding: 20px 0px;	
	height: calc(100% - 148px);
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.filter{
	color: #000;
	margin: 0px 0px 18px 20px;
	font-size: 15px;
	padding: 0px; 
}
.cat{
	font-size: 17px;
	font-weight: 600;
}
.product-items{
	height: max-content;
	border-radius: 8px;
	overflow: hidden;
	margin: 0px 20px 40px;
	background-color: #fff;
    width: 80%;
    max-width: 280px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
}
.product-details{
	background-color: #004c8c;
	padding: 8px;
	margin: 0px;
}
.product-details>div>p{
	color: 	#fff;
	padding: 3px 0px;
	margin: 0;
	font-weight: bold;
}

.product-details>button{
	color: #fff;
	background-color: #58a5f0;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	margin:4.5px 20%;
	width: 60%;
	height: 36px;
	font-weight: bold;
}
.category-list{
	width: 86%;
	display: none;
	position: fixed;
	bottom: 54px;
	background-color: #fff;
	margin: 0px 7%;
	border: 1px solid black;
	border-bottom: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.category-type{
	height:38px;
	border-bottom: 1px solid black;
	padding: 25px 0px 5px 0px;
	text-align: center;

}
.category-type>p{
	font-size: 18px;
	margin: 0px auto;
}
.selected{
	background-color: #58a5f0;
	color: #fff;
	font-weight: bold;
}

.category-button{
	width: 100%;
	height: 54px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #0079c1;
}

.category-button>button{
	background-color: transparent;
	width: 100%;
	border: none;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	height: inherit;
}

.cart-products{
	width: 90%;
	height: max-content;
	margin: 10px 5% 0px;
	background-color: #fff;
	position: absolute;
	display: none;
}
.cart-items{
	width: 96%;
	height: 100px;
	overflow: hidden;
	margin: 10px 2%;
}
.cart-items>img{
	max-width: 100px;
 	max-height: 100px;
}
.cart-item-details{
	float: right;
	padding: 10px 0px;
	position: relative;
	width: calc(100% - 115px);
	p
}
.cart-item-details>p{
	margin: 0;
	display: block;
}
.quantity{
	margin: 10px 0px;
}
.quantity button{
	background-color: #0079c1;
	border: none;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.cart-item-details input,.quantity>input{
	width: 20px;
	text-align: center;
}
.trash{
	float: right;
	color: #58a5f0;
	border: 4px solid #58a5f0;
	border-radius: 50%;
	padding: 5px 8px;
	margin-right: 10px;
}
.trash:hover{
	color: #f00;
	border: 4px solid #f00;
	cursor: pointer;
}
.checkout{
	width: 100%;
}
.checkout button{
	height: 50px;
	width: 60%;
	margin: 10px 20%;
	font-size: 21px;
	border-radius: 8px;
	border: none;
	color: #fff;
	font-weight: bold;
	background-color: #0079c1;
}
.close{
	position: absolute;
	z-index: 5;
	right: 0;
	text-align: center;
	margin: 3px 7px 0px 0px;
	padding-bottom: 2px;
	border-radius: 50%;
	width: 19px;
	height: 17px;
	font-weight: bold;
	color: #f00;
	border: 2px solid #f00;
}
.product-details .quantity{
	text-align: center;
}
.hidden{
	display: none;
}

@media only screen and (min-width: 768px){
	.cart-products{
		max-width: 495px;
		right: 0;
	}
	.category-button{
		max-width: 400px;
		margin-left: calc(calc(100% - 400px) / 2);
	}
	.category-list{
		max-width: 400px;
		margin-left: calc(calc(100% - 400px) / 2);
	}
}

@media only screen and (min-width: 1024px){
	.icon{
		margin: 0px 30px;
	}
	.category-button{
		display: none !important;
	}
	.category-list{
		position: fixed !important;
		max-width: 350px;
		height: calc(100vh - 54px);
		float: left;
		width: 29%;
		display: block;
		top: 54px;
		background-color: #fff;
		margin: 0px 0px 0px;
		border: 1px solid black;
		border-radius: 0;
		
	}
	.category-type:hover,.addcart:hover,.icon:hover,.close:hover,.increase:hover,.decrease:hover{
		cursor: pointer;
	}
	.products{
		width: 70%;
		float: right;
	}
}